<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">bloogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item d-flex">
                <a href="/" class="nav-link active">Home</a>
                <a href="/blogs" class="nav-link">Blogs</a>
                <a href="/admin/blog-create" class="nav-link">Creat</a>
                <a href="/admin/blog-lists" class="nav-link">blog_list</a>
            </li>
        </ul>
    </div>
</nav>