<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">bloogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item d-flex">
                <a href="/" class="nav-link active">Home</a>
                <a href="/blogs" class="nav-link">Blogs</a>
                <% if (isAuth) { %>
                    <a href="/admin/blogs/create" class="nav-link">Creat</a>
                    <a href="/admin/blogs" class="nav-link">blog_list</a>
                    <a href="/admin/category" class="nav-link">Category's</a>
                    <% } %>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <% if (isAuth) { %>
                <a href="/profil" class="nav-link"><%= name %> </a>
                <a href="/account/logout" class="nav-link">Logout</a>
            <% }else{%>
                <a href="/account/login" class="nav-link">Login</a>
                <a href="/account/register" class="nav-link">Register</a>
            <% } %>
        </ul>
    </div>
</nav>