<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog || Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">bloogapp</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item d-flex">
                    <a href="/" class="nav-link active">Home</a>
                    <a href="/blogs" class="nav-link">Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="" class="list-group-item list-group-item-action active">Home</a>
                    <a href="" class="list-group-item list-group-item-action">apk</a>
                    <a href="" class="list-group-item list-group-item-action">program</a>
                    <a href="" class="list-group-item list-group-item-action ">video</a>
                </div>
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3"> Home</h1>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/product03.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"> computer programming</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, modi sint. Ut, voluptates ad eveniet minus, maiores quos earum fuga repellat officia a eius facilis commodi nemo quae voluptatem eligendi?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/product05.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"> computer programming</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, modi sint. Ut, voluptates ad eveniet minus, maiores quos earum fuga repellat officia a eius facilis commodi nemo quae voluptatem eligendi?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/product04.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"> computer programming</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, modi sint. Ut, voluptates ad eveniet minus, maiores quos earum fuga repellat officia a eius facilis commodi nemo quae voluptatem eligendi?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/product01.png" class="img-fluid" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"> computer programming</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, modi sint. Ut, voluptates ad eveniet minus, maiores quos earum fuga repellat officia a eius facilis commodi nemo quae voluptatem eligendi?</p>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>
</html>